@use "../../assets/scss/_breakpoints" as size;
@use "../../assets/scss/_text-style" as text;

.filter-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .filter-input-fieldset {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10px;
    cursor: pointer;

    @include size.to(sm) {
      flex-direction: column;
    }
  }

  .filter-status-fieldset {
    display: flex;
    .filter-status-legend {
      margin-bottom: 10px;
      @include text.text-style($font-weight: 500);
    }

    .filter-checkbox-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 5px;

      @include size.to(sm) {
        flex-direction: column;
      }
    }

    @include size.to(sm) {
      flex-direction: column;
      margin-top: 20px;
    }
  }
}
