@use "../../assets/scss/_breakpoints" as size;

.filter-container {
  display: flex;
  margin-bottom: 20px;

  .filter-form {
    width: 100%;
    display: flex;
    flex-direction: column;

    .filter-input-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      column-gap: 10px;
      cursor: pointer;

      @include size.to(sm) {
        flex-direction: column;
      }
    }

    .filter-status-selector {
      @include size.to(sm) {
        margin-top: 20px;
      }
    }
  }
}
