@use "../../assets/scss/_breakpoints" as size;
@use "../../assets/scss/_text-style" as text;
@import "../../assets/scss/_colors";

.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  @include text.text-style();

  .input {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 16px;
    border: 1px solid $color-other-gray;
    border-radius: 12px;
    background-color: $color-other-light-gray;
    @include text.text-style($line-height: 1.5);

    @include size.to(md) {
      padding: 14px;
    }
  }

  .error {
    height: 24px;
    @include text.error-style();
  }
}
