//// cta-colors
$color-cta-default: #2d81ff;
$color-cta-hover: #0066ff;
$color-cta-pressed: #004ab9;
$color-cta-disabled: #c3c3c3;

//// text-colors
$color-text-black: #2d2d2d;
$color-text-error: #ca0000;
$color-text-white: #f9f9f9;

// other
$color-other-light-gray: #f7fbff;
$color-other-gray: #d4d7e3;
