@use "_breakpoints" as size;
@import "./_colors";

@mixin text-style(
  $font-size: 16px,
  $line-height: 1.2,
  $color: $color-text-black,
  $font-weight: 400,
  $breakpoint: md,
  $font-size-md: 14px
) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;

  @if $breakpoint and $font-size-md {
    @include size.to($breakpoint) {
      font-size: $font-size-md;
    }
  }
}

@mixin heading-style(
  $font-size: 40px,
  $line-height: 1.2,
  $color: $color-text-black,
  $breakpoint: md,
  $font-size-md: 28px,
  $font-weight: 600
) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;

  @if $breakpoint and $font-size-md {
    @include size.to($breakpoint) {
      font-size: $font-size-md;
    }
  }
}

@mixin error-style(
  $font-size: 14px,
  $line-height: 1.2,
  $color: $color-text-error,
  $font-weight: 400,
  $breakpoint: md,
  $font-size-md: 12px
) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight;

  @if $breakpoint and $font-size-md {
    @include size.to($breakpoint) {
      font-size: $font-size-md;
    }
  }
}
