@use "../../assets/scss/_breakpoints" as size;

.rides-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 20px 30px;
  row-gap: 20px;

  .rides-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  @include size.to(md) {
    padding: 16px;
  }
}
