@use "../../assets/scss/text-style" as text;

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  .login-form-heading {
    margin-bottom: 20px;
    @include text.heading-style();
  }
}
