@use "../../assets/scss/_mixins" as mixin;

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;

  .login-form-heading {
    margin-bottom: 20px;
    @include mixin.heading-text-style();
  }
}
