@use "../../assets/scss/_breakpoints" as size;
@use "../../assets/scss/_text-style" as text;

.checkbox-label {
  width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  @include text.text-style();

  @include size.to(sm) {
    width: fit-content;
  }
}
