@use "../../assets/scss/_breakpoints" as size;
@use "../../assets/scss/_text-style" as text;
@use "../../assets/scss/_mixins" as mixin;
@import "../../assets/scss/_colors";

.ride-info-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  @include mixin.custom-border();
  row-gap: 10px;

  .main-ride-info {
    display: flex;
    flex-direction: column;
    @include text.text-style($font-weight: 600);
  }

  .main-ride-info-list {
    display: flex;
  }

  .ride-info-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;

    @include text.text-style();

    //&:first-of-type {
    //  @include text.text-style($font-weight: 600);
    //}

    @include size.to(sm) {
      flex-direction: column;
    }

    @include size.to(md) {
      padding: 14px;
    }
  }
}
